.plan-bg {
    display: flex;
    background-image: url('https://i.imgur.com/xsSI8AO.png');
    background-position: cover;
    background-repeat: no-repeat;
    margin-top: 2rem;
    font-family: "EB Garamond", serif;
}

.event-list {
    display: flex;
    flex: 0 0 30rem;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    margin: 5em 4em;
    overflow: auto;
    background-color: RGBA(239, 237, 241, 0.9);
    border-radius: 30px;
    border: solid 1px #545454;
    text-align: left;
    font-family: "EB Garamond", serif;
}

.selected-plan {
    display: flex;
    flex: 0 0 30rem;
    flex-direction: column;
    background-color: RGBA(239, 237, 241, 0.9);
    border-radius: 30px;
    border: solid 1px #545454;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    margin: 10rem;
    overflow: auto;
    font-family: "EB Garamond", serif;
}