.plan-bg {
    display: flex;
}

.event-list {
    margin-top: 2rem;
    flex: 0 0 20rem;
    margin-right: 1rem;
}

.selected-plan {
    flex: 1;
    width: 3rem;
    background-color: RGBA(239, 237, 241, 0.8);
    text-align: left;
    padding: 2rem;
    margin-top: 2rem;
    overflow-y: auto;
    overflow-x: auto;
}