.form-heading > h1 {
    display: flex;
    font-family: "EB Garamond", serif;
    text-align: center;
}

.form-heading {
    color: #737373;
    margin: 1rem;
}

.planform-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 3em auto;
    background-color: RGBA(239, 237, 241, 0.95);
    border: solid 1px rgb(128, 128, 128, 0.9);
    border-radius: 10px;
}

.planform-container form {
    padding: 2rem 3rem;
    justify-content: center;
}


.planform-container label {
    color: #4e4c4c;
    text-align: center;
    align-content: center;
}


.submit-btn,
.cancel-btn {
    background-color: #d3bcad;
    color: white;
    border-radius: 5px;
    margin: 0.5em 0;
    padding: 0.5em 1em;
}

.submit-btn:hover,
.cancel-btn:hover {
    background-color: #87817a;
    cursor: pointer;
}