.services-list {
    display: flex;
    flex: 0 0 30rem;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    margin: 5em 2em;
    height: 40rem;
    background-color: RGBA(239, 237, 241, 0.9);
    border-radius: 30px;
    border: solid 1px #545454;
    text-align: left;
    font-family: "EB Garamond", serif;
}