.hero-img {
display: relative;
justify-content: flex-end;
align-items: center;
background-image: url('https://i.imgur.com/7TVmWir.png');
width: 1410px;
height: 400px;
background-size: cover;
background-position: center;
}

.left-img {
background-image: url('https://i.imgur.com/uiXQcQv.png');
width: 600px;
height: 400px;
background-size: cover;
background-position: center;
margin-top: 40px;
}

.about-title {
position: absolute;
top: 50%;
right: 50px;
transform: translateY(-50%);
background-color: rgba(239, 235, 232, 0.8);
font-family: "EB Garamond", serif;
padding: 3rem;
color: #737373;
}

.about-paragraph {
position: fixed;
top: 80%;
right: 40px;
transform: translateY(-50%);
width: 800px; 
padding: 20px;
}

.second-paragraph {
position: fixed;
top: 80%;
right: 40px;
transform: translateY(-50%);
width: 800px; 
padding: 20px;
}